@import url("../css/global.css");

.nav {
  background: rgba(255, 255, 255, 0.9);
  padding: 0 0rem;
  height: 0rem;
  min-height: 8vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
}

.nav .nav-menu .nav-brand .nav-image {
  padding: 0.4rem 0rem !important;
  margin-left: 4rem;
  height: 2rem;
}

.nav .nav-menu {
  justify-content: space-between;
}

/* NAV ITEMS */

.nav .nav-items {
  align-items: center !important;
  display: flex;
  margin: 0;
}

.nav .nav-brand a {
  padding: 1rem 0;
  display: block;
}

/* LINKS */
.nav .nav-items .nav-link {
  padding: 1.6rem 1.5rem;
  font-size: 1.1rem;
  position: relative;
}

.nav .nav-items .nav-link a {
  color: rgba(24, 24, 24, 0.7);
}

.nav .nav-items .nav-link:hover a {
  color: rgb(0, 0, 0);
}

.nav .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: hsl(136, 65%, 51%);
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.nav .hover-underline-animation:hover:after {
  transform: scaleX(0.7);
  transform-origin: center;
}

/* INVITE BUTTON */
.nav .btn {
  color: rgb(255, 255, 255);
  margin-right: 10rem;
  margin-top: 1rem;
  font-size: 15px;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: hsl(136, 65%, 51%);
}

/* TOGGLE ICONS */

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.collapse {
  height: 32rem;
}
