@import url(global.css);

.section2 {
  background-color: hsl(220, 16%, 96%);
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-top: 0%;
  padding-left: 30vh;
  padding-right: 20vh;
  justify-content: center;
  align-items: center;
}

.section2 img {
  padding-bottom: 1rem;
}

.section2 h3 {
  padding-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.section2 p {
  font-size: 1.1rem;
}

.section2 .services p {
  max-width: 15rem;
}

.section2 .services {
  column-count: 4;
  column-gap: 0;
}
