@import url(global.css);

/* MAIN SECTION*/

main .container-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 0;
}

/*
main .intro {
  background-repeat: no-repeat;
  background-position: right;
  height: 90vh;
  width: 100%;
  background-size: 70%;
} */

/* LEFT SIDE OF THE SECTION */

main .intro {
  max-width: 50vh;
  width: 100%;
  text-align: left;
  padding-top: 19vh;
  padding-left: 20vh;
}

main .intro h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

main .intro p {
  font-size: 1.3rem;
  color: hsl(0, 0%, 65%);
}

main .intro .btn {
  color: rgb(255, 255, 255);
  margin-right: 10rem;
  margin-top: 1rem;
  font-size: 15px;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: hsl(136, 65%, 51%);
}

main .intro .btn:hover {
  background: hsl(136, 65%, 81%);
}

/* SIDE BAR */
main .sidebar {
  background: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 85vh;
  width: 100%;
  background-size: 110%;
}
